<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1178937216-cd6d04e9jfnc2816q8e4mi0396va5jp2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1178937216-cd6d04e9jfnc2816q8e4mi0396va5jp2</string>
	<key>API_KEY</key>
	<string>AIzaSyC_sc-elOnemYMwkCGADlRaujDymlQqHww</string>
	<key>GCM_SENDER_ID</key>
	<string>1178937216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hbProject1</string>
	<key>PROJECT_ID</key>
	<string>my-book-app-84a43</string>
	<key>STORAGE_BUCKET</key>
	<string>my-book-app-84a43.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1178937216:ios:4893d1d7bd3cc5a4b30365</string>
</dict>
</plist>